.home-page{
  width: 100%;
  overflow: hidden;
}
.home-page h1 {
  font-size: 66px;
}


@media (max-width: 760px) {
  .home-page h1 {
    font-size: 46px;
  }
}

@media (max-width: 560px) {
  .home-page h1 {
    font-size: 40px;
  }
}
